<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sms-catcher" version="1.0.0">
   <name>SMSCatcher</name>
   <js-module name="SMSCatcher" src="www/SMSCatcher.js">
      <clobbers target="cordova.plugins.SMSCatcher" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SMSCatcher">
            <param name="android-package" value="cordova-plugin-sms-catcher.SMSCatcher" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SMSCatcher.java" target-dir="src/cordova-plugin-sms-catcher/SMSCatcher" />
   </platform>
</plugin>