
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@media(min-width: 500px) {

    .logo-path {
        display: flex;
        width: 50%;
        height: 100vh;
        padding: 5%;
        border-right: 2px solid var(--ion-color-primary);
    }

    .app-path {
        height: 100%;
        display: flex;
        max-width: 100%;
        width: 50%;
        margin: auto;
    }

    .app-path-keyboard-active {
        width: 100% !important;
        height: 100vh !important;
    }

    .keyboard-app-container-setting {
        width: 100% !important;
        padding-top: 0% !important;
    }

    .app-container {
        width: 70%;
        margin: auto;
        padding-top: 5%;
    }

    .app-img {
        margin: auto;
        vertical-align: middle;
        height: 100%;
        max-width: 100%;
    }

    .app-button-keyboard-active {
        font-size: 6vh !important;
    }
    
    .app-button {
        --padding-start: 0px;
        --padding-end: 0px;
        width: fit-content;
        height: fit-content;
    }

    .app-small-text-keyboard-active {
        font-size: 6vh !important;
    }

    .app-small-text {
        font-size: 3vh;
    }
    
    .app-title-keyboard-active {
        font-size: 9vh !important;
    }

    .app-title {
        font-size: 6vh;
        color: var(--primary);
    }

    .app-page {
        height: 100%;
        width: 100vw;
        display: inline-flex;
    }
    .app-icon-arrow {
        margin: 2vh;
    }
}

@media(max-width: 500px) {
    .app-container {
        width: 80%;
        margin: auto;
        padding-top: 5%;
    }

    .app-path {
        height: 100vh;
    }

    .logo-path {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 10%;
        padding-bottom: 10%;
        border-bottom: 2px solid var(--ion-color-primary);
    }

    .app-footer {
        margin-top: 20%;
    }

    .app-img {
        margin: auto;
        height: 20vh;
        max-width: 100%;
    }

    .app-button {
        --padding-start: 0px;
        --padding-end: 0px;
        width: fit-content;
        height: fit-content;
    }
    
    .app-small-text {
        font-size: 4vw;
    }
    
    .app-title {
        font-size: 7vw;
        color: var(--primary);
    }

    .app-icon-arrow {
        margin: 3vw;
        font-size: 6vw;
    }
    
}

.keyboard-none-setting {
    display: none;
}