<div #component class='login-page'>
    <ion-item lines="none" [ngClass]='{"keyboard-none-setting":isKeyboardActive}' class='logo-path'>
        <ion-img class='login-img' src='assets/img/logo_despatch.jpg'></ion-img>
    </ion-item>
    <div [formGroup]='form' class='login-path' [ngClass]='{"login-path-keyboard-active":isKeyboardActive}'>
        <div class='login-container' [ngClass]='{"keyboard-login-container-setting":isKeyboardActive}'>
            <div>
                <ion-title [ngClass]='{"login-title-keyboard-active":isKeyboardActive}' class='login-title'
                    slot='primary'>Sign In</ion-title>
            </div>
            <ion-item class='mt-2'>
                <ion-label [ngClass]='{"login-small-text-keyboard-active":isKeyboardActive}' class='login-small-text'
                    position="floating">Login</ion-label>
                <ion-input [(ngModel)]='loginRequest.login' formControlName='login' type='text'></ion-input>
            </ion-item>
            <ion-item class='mt-2'>
                <ion-label [ngClass]='{"login-small-text-keyboard-active":isKeyboardActive}' class='login-small-text'
                    position="floating">Password</ion-label>
                <ion-input [(ngModel)]='loginRequest.password' formControlName='password' type='password'></ion-input>
            </ion-item>
            <div lines='none' class='mt-2 text-center'>
                <ion-button [ngClass]='{"login-button-keyboard-active":isKeyboardActive}' class='login-button'
                    size='large' expand="block" (click)='onSignInClick()' icon-only [disabled]='form.invalid'>
                    Sign In
                </ion-button>
            </div>
            <div lines='none' class='mt-2 text-center'>
                <ion-button [ngClass]='{"login-button-keyboard-active":isKeyboardActive}' class='login-button'
                    size='small' (click)='redirectToRegister()' color='secondary'>Sign Up</ion-button>
                <ion-button [ngClass]='{"login-button-keyboard-active":isKeyboardActive}' class='login-button'
                    size='small' (click)='onSignInClick()' icon-only color="tertiary">
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-button>
            </div>
            <div [ngClass]='{"keyboard-none-setting":isKeyboardActive}' class='login-footer  text-center mt-2'>
                <a class='login-small-text'> Forgot password?</a>
            </div>
            <ion-slides direction="vertical" lines='none' class='mt-2 text-center'>
                <ion-button fill='outline' [ngClass]='{"keyboard-none-setting":isKeyboardActive}' class='login-button'
                    size='small' icon-only>
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
                <ion-button fill='outline' [ngClass]='{"keyboard-none-setting":isKeyboardActive}' class='login-button'
                    size='small' icon-only>
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
            </ion-slides>
        </div>
    </div>